*{
margin: 0;
padding: 0;
}

.color1{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.color2{
    width: 200px;
    height: 200px;
    background-color: red;
}

.color3{
    width: 200px;
    height: 200px;
    background-color: green;
}

.color4{
    width: 200px;
    height: 200px;
    background-color: yellow;
}